/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --azure-title: #0290ff;
  --mid-blue-list-links: #0290ff;
  --white: #fff;
  --gray-item-border: #e8e8e8;
  --gray-add-book: #888;
  --black-two: #121212;
  --background-color: #fafafa;
  --pinkish-gray: #c4c4c4;
}

body {
  font-family: 'Roboto Slab', serif;
  background: var(--background-color);
}

.App {
  /* padding-left: 6.25rem; */
  width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
